.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
}
.content {
    border-radius: 0.2em;
    background: rgb(45, 0, 246);
    padding: 1em;
    font-family: Consolas, serif;
    color: #ffffff;
}
button {
    font-family: "Bradley Hand ITC",cursive;
    font-size:2em;
    background-color: rgba(67, 0, 0, 0.575);
    transition: font-size 0.1s,background-color 0.2s;
}
button:hover {
    font-size: 2.5em;
    background-color: aquamarine;
}